/auto-save-list
/elpa
/persp-confs
/eshell
/transient
/tree-sitter
/eln-cache
/url
/.cache
/.local
.emacs.desktop
emacs.:tangle
emacs.el
*.elc
*.eld
.lsp-session-v1
.org-id-locations
amx-items
forge-database.sqlite
network-security.data
tramp
